/* ---------- google fonts--------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* common css part */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    margin: 0 auto;
    background-color: rgba(242, 235, 235, 1);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.display-flex {
    display: flex;
}

.h-color {
    color: #3A3A3A;
}

/* navbar part start  */
.nav-container {
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}

#icons {
    width: 36px;
}

#icons1 {
    width: 24px;
}

.nav-container h1 {
    font-weight: 700;
    font-size: 1.5rem;
}

.href {
    margin-right: 35px;
    font-weight: 600;
}

/* influncer */
.influncer {
    justify-content: space-between;
    align-items: center;
    gap: 133px;
}

.influncer {
    margin: 50px 132px 69px 120px;
}

.influncer-container {
    width: 580px;
}

.influncer-text {
    font-weight: 700;
    font-size: 3.25rem;
    margin-bottom: 16px;
}

.influncer-para {
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 16px;
}

.btn-primary {
    font-weight: 700;
    color: #fff;
    padding: 10px 20px 10px 20px;
    background-color: #E02C6D;
    text-align: center;
    border: none;
    border-radius: 41px;
    transition: all linear 1s;
}

.btn-primary:hover {
    background-color: orange;
}

#btn {
    width: 24px;
    margin-left: 8px;
}

.influncer-img {
    background-image: url(/imges/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* main section part start */
.companies-img {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
}
.companies {
    width: 1110px;
    height: 110px;
    margin: 0 165px 100px 165px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.companies-img{
    width: 985px;
    height: 40px;
    padding: 35px 62px;
}
/* populer section part start */
.populer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 30px;
}
.populer{
    width: 1134px;
    margin-left: 165px;
    margin-right: 165px;
}
.addd{
    margin-bottom: 50px;
}
.populer-text{
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;
}
.populer-collection{
    width: 328px;
    background-color: #fff;
    padding: 17px 15px;
    border-radius: 5px;
}
.img{
    width: 100%;
    border-radius: 5px;
}
.populer-text-all{
    font-weight: 500;
    font-size: 1.75rem;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 6px;
}
.populer_text-all{
    font-weight:400;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    color: #000000;
}
.start{
    width: 16px;
  color: #FB8200;
}
.populer-icons{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #5E6366;
}
.populer-text_para{
    margin-top: 0;
    margin-bottom: 0;
    width: 196px;
    font-weight: 700;
    color: #787885;
    font-family: "Inter", sans-serif;
}
.all-style{
    margin: 0 0 0 0;
}
.footer-btn{
    color: #E02C6D;
    font-weight: 700;
    width: 92px;
    margin-left: 1042px;
    margin-right: 221px;
    border: none;
}
/* @midea quare  */
@media screen and (max-width:576px) {

    .nav-container,
    .nav-main{
        flex-direction: column;
    }
    .influncer{
        flex-direction: column-reverse;
    }
    .companies-img {
        grid-template-columns: repeat(4, 1fr);
       justify-items: center;
       align-items: center;
    }
    .populer-container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}
/* @media screen and (min-width:576px) and (max-width:992px) {
    .companies-img{
        grid-template-columns:repeat(5, 1fr) ;
    }
    
} */